<!DOCTYPE html>
<html>

<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
    <div id="code_examples">
      <h2>Using the API</h2>
      <p>You can use the API with the links below using simple command line tools or it could be integrated into build tooling.</p>
      <p>Fetching https://<%= host_name  %>/license will return you a list of available licenses in JSON format.</p>
      <code class="codeblock">
        [
          {
            "id": "postgresql",
            "name" : "PostgreSQL License",
            "url" : "https://<%= host_name  %>/license/postgresql"
          },
          {
            "id": "zlib",
            "name" : "zlib License",
            "url" : "https://<%= host_name  %>/license/zlib"
          }
        ]
      </code>
      <p>
        The short names can be passed back to the api with https://<%= host_name  %>/license/:shortName to retrieve individual license details in JSON format. <br>
        If you would like to set any of the variables from the api, you can pass them in as query parameters. <br>
        <code class="codeblock">
          ?name=fullname
          &email=user@email
          &projectName=project_name
          &projectUrl=project_url
        </code>
      </p>
      <h3>Using Curl and Python3</h3>
      <code class="codeblock">
        curl -s 'https://<%= host_name  %>/license/apache-2.0' | \
        python3 -c "import sys, json; print(json.load(sys.stdin)['licenseText'])" > LICENSE.md
      </code>
      <h3>Using Powershell</h3>
      <code class="codeblock">
        invoke-restmethod -uri 'https://<%= host_name  %>/license/apache-2.0' |
        select-object -expandproperty licenseText |
        out-file LICENSE.md
      </code>
      <h3>Using Node</h3>
      <code class="codeblock">
        const https = require('https')
        const fs = require('fs')

        let licenseUrl = 'https://<%= host_name  %>/license/mit'

        https.get(licenseUrl, res => {
          let apiData = []

          res.on('data', (dataChunk) => {
            apiData.push(dataChunk)
          })

          res.on('end', () => {
            let data = JSON.parse(apiData.join(''))
            try {
              fs.writeFileSync('./license.md', data.licenseText)
            } catch (err) {
              console.error(err)
            }
          })
        })
      </code>
    </div>
    <div id="license_links">
      <h3>License Links:</h3>
    </div>
  <%- include('partials/footer') -%>
</body>

</html>
