<!DOCTYPE html>
<html>

<%- include('partials/head') -%>

<body>
  <%- include('partials/header') -%>
    <div class="content">
      <h4>Choose a License:</h4>
      <form id="license_form" action="/" method="post">
        <select name="license" id="license_selector">
        </select>
        <h4>Pre-Populate variables:</h4>
        <p>These form inputs are only used to replace placeholders in the license text. <br>
          [fullName] is the most common which is the User Name form input. <br>
          ** The form inputs are not stored or tracked in any way.</p>
        <div class="container">
          <div class="row">
            <div class="column">
              <label for="name">User Name</label><input type="text" name="name">
              <label for="project_name">Project Name</label><input type="text" name="project_name">
            </div>
            <div class="column">
                <label for="email">Email</label><input type="text" name="email">
              <label for="project_url">Project URL</label><input type="text" name="project_url">
            </div>
          </div>
        </div>
        <input type="submit" id="submit_license">
      </form>
    </div>
    <% if (license_name) { %>
      <h3><%= license_name  %></h3>
    <% }; %>
    <div><pre>
      <% if (license_text) { %>
        <p id="text_area"><%= license_text %></p>
      <% }; %>
    </pre></div>
  <%- include('partials/footer') -%>
</body>

</html>
